.swiper {
    width: 100%;
}

.justify-text {
    text-align: justify;
    text-justify: inter-word;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header.main__header {
    padding-bottom: 0 !important;
}

.fade {
    position: relative;
    opacity: 10 !important;
    display: block;
    top: 13em;
    height: 7em;
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background-image: -moz-linear-gradient( rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background-image: -o-linear-gradient( rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background-image: linear-gradient( rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background-image: -ms-linear-gradient( rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

.color1 {
    background-color: #f3ece3;
}

.home-section {
    padding: 4rem;
}

.content-section {
    padding: 0 10rem;
}

.home-section p {
    font-size: 1.4rem;
}

.home-section .section-01 h1 {
    
    color: #A22829;
font-family: Gauthier Next FY;
font-size: 60px;
font-style: normal;
font-weight: 700;
}

.sneak-peak-text {
    font-family: GauthierNextFY, serif !important;
    padding-top: 10px;
    font-weight: bold;
}

.nav-arrow:hover {
    color: #d72729;
    transition: 0.2s;
}

.no-background {
    background-color: transparent !important;
    background-clip: initial;
}

.home-section .section-01 p {
    padding-top: 2rem;
    color: #112c3f;
    font-family: GauthierNextFY, serif !important;
}

.section-02-image {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home-section .section-02 {
    padding-top: 18rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.home-section .section-02 h1 {
    font-size: 3rem;
    font-weight: 700;
    font-family: GauthierNextFY, serif !important;
    color: #112c3f;
}

.timeline-readmore {
    text-align: right !important;
    margin-right: 0 !important;
}

.companion-vol-section {
    min-height: 650px !important;
}

.historical-references-section {
    padding-top: 10em !important;
}

.home-section .section-02 h3 {
    font-family: GauthierNextFY, serif !important;
    color: #112c3f;
}

.home-section .section-02 p {
    font-family: GauthierNextFY, serif !important;
    color: #112c3f;
}

.home-section .section-02 a.read-more {
    font-family: GauthierNextFY, serif !important;
    color: #112c3f;
    background-color: #112c3f;
    color: #f2ece0;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.home-section.section-03 {
    background-color: #d6d6d6;
    padding: 3rem 10rem;
    min-height: 800px;
}

.home-section.section-03 h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: GauthierNextFY, serif !important;
    color: #112c3f;
}

.home-section.section-03 .line {
    margin-top: 0.3rem;
    margin-bottom: 2rem;
    height: 3px;
    background: #112c3f;
    width: 55%;
}

.home-section.section-03 .text {
    padding-left: 2rem;
}

.home-section.section-03 h3 {
    font-family: GauthierNextFY, serif !important;
    font-weight: 700;
    color: #112c3f;
    font-size: 1.3em;
}

.home-section.section-03 h2 {
    font-family: GauthierNextFY, serif !important;
    color: #112c3f;
}

.home-section.section-03 p {
    font-family: GauthierNextFY, serif !important;
    color: #112c3f;
    text-align: justify;
    margin-right: 3rem;
}

.home-section.section-03 a.read-the-story-book {
    margin-top: 3rem;
    font-family: GauthierNextFY, serif !important;
    color: #112c3f;
    background-color: #112c3f;
    color: #f2ece0;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 2rem;
}

.home-section.section-03 .colored {
    background-color: #d9c69e !important;
    border: none !important;
    border-radius: 0 !important;
    height: auto;
    /*margin-top: 1.2em*/
}

.home-section.section-03 .colored h1 {
    font-size: 1.5em !important;
    text-transform: uppercase;
}

.font-1-2 {
    font-size: 1.2em;
}

.home-section.section-03 .colored .line {
    width: 100% !important;
    margin: 1rem 0 !important;
}

.home-section.section-03 .colored .snake-peak-item {
    padding: 1rem !important;
    border-top: #1a202c solid thin;
    border-bottom: #1a202c solid thin;
}

.home-section.section-03 .colored .snake-peak-item:hover {
    cursor: pointer;
    background-color: #b29c6a;
    transition: 0.5s;
}

.extra-paddings {
    padding: 2rem 15rem;
}

.extra-paddings .text {
    width: 100% !important;
    padding-right: 0;
}

.light-bg-cream {
    background-color: #f3ede1;
    background-image: url("/assets/images/homepage-sections/background/Section_Background 01-min.png");
}

.light-bg-blue {
    background-color: #f3ede1;
    background-image: url("/assets/images/homepage-sections/background/Section_Background 02-min.png");
}

.full-width-text {
    width: 80% !important;
}

.limited-width-text {
    width: 100%;
}

.home-section.section-03 .colored .snake-peak-item .year-section {
    padding: 3rem 1rem;
}

.home-section.section-03 .colored .snake-peak-item .year-section .small-line {
    margin-top: 0.3rem;
    height: 10px;
    background: #112c3f;
    width: 100%;
}

.text-right-section {
    text-align: right;
}

.text-right-section .line {
    width: 100% !important;
}

.full-width-line {
    width: 100% !important;
}

.collection-row {
    margin-top: 1em;
}

.collection-item {
    width: 60px;
    height: 100px;
    object-fit: cover;
}

.collection-row .view-more:hover {
    cursor: pointer;
    background-color: #b29c6a;
    height: 100%;
}

.collection-row .view-more {
    height: 100px !important;
    text-align: center;
}

.home-section.section-03 .link-box {
    border-right: #112c3f medium solid;
}

.home-section.section-03 .hover-box:hover {
    cursor: pointer;
    background-color: #b29c6a;
}

.home-section.section-03 .hover-text {
    display: none;
}

.home-section.section-03 .hover-box:hover .hover-text {
    display: block;
}

.main-slider .slider-text {
    position: absolute;
    width: 80%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 0;
    padding-right: 0;
}

.main-slider .slider-box {
    position: relative;
    text-align: center;
    color: #fff;
}

.main-slider .slider-box h3 {
    color: #D5C7A2;
    text-align: center;
    font-family: Caslon Bd BT;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-slider .slider-box p {
    color: #D5C7A2;
    text-align: center;
    font-family: Gauthier Next FY;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-slider .slider-box i {
    color: #d5c7a2;
    font-size: 2em;
    cursor: pointer;
}

.main-slider .slider-box .read-more-box {
    background-color: #112c3f;
    padding: 3em 0.3em;
    font-size: 1em;
}

.read-more-hover:hover {
    background-color: #d72729 !important;
}

.main-slider .slider-box .read-more-box p {
    font-size: 1.9em;
    font-weight: 900;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left;
}

.main-slider {
    margin-top: -40px;
}

.thp-section-02-logo {
    width: 217.54px;
    height: 400px;
}

.col-md-12.home-section.section-02-image {
    min-height: 700px;
}

.link-area {
    padding: 10px 0;
    cursor: pointer;
}

.link-area h3 {
    color: #f3ede1 !important;
}

.link-area a {
    color: #ffe6b0 !important;
    font-weight: 700;
    font-family: GauthierNextFY, serif !important;
}

.parallax {
    min-height: 670px;
    margin-top: -64px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chapel-img {
    width: 760px;
    margin-left: -170px;
}

.mi-row {}

.pt-20 {
    padding-top: 20px;
}

.chapel-text {
    padding-left: 5em;
    padding-top: 7em;
}

i.snake-peak-nav {
    font-size: 2em;
    padding-top: 0.5em;
}

i.snake-peak-nav-down {
    font-size: 2em;
    padding-bottom: 0.5em;
}

.slider-icon {
    font-size: 3em !important;
}

.his-ref-section {
    background-repeat: no-repeat;
    /* background-size:auto 750px; */
    padding: 10rem;
}

.sub-section-padding {
    padding: 7em;
}

.bg-maroon {
    background-color: #782c2c;
}

.collection-section h1 {
    color: #ffe6b0 !important;
    font-size: 2em !important;
}

.collection-section .bg-maroon {
    padding: 1.5em;
}

.collection-section img {
    margin-top: 2em;
    width: 200px;
    height: 255px;
    object-fit: contain;
}

.less-left-padding {
    padding-left: 7em !important;
    padding-top: 4em !important;
}

.collection-box:hover {
    border: #acb0ae solid;
    transition: 0.3s;
}

.micellenia-section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.mi-btn {
    margin-top: 10px !important;
    padding: 8px 16px !important;
}

.slider-read-more {
    font-family: GauthierNextFY, serif !important;
    font-size: 26px;
    color: #ffe6b0;
}

.slider-read-more i {
    font-size: 30px !important;
    color: #fff !important;
}

.slider-read-more:hover {
    color: red;
    transition: 0.3s;
}

.slider-read-more:hover i {
    color: red !important;
    transition: 0.3s;
}

.vtour-item {
    height: 250px;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: auto;
    cursor: pointer;
}

.same-height-section {
    display: table-row;
}

.same-height-section .same-height-item {
    display: table-cell;
}

.snake-btn {
    cursor: pointer;
    font-size: 40px;
}

.storySwiper .story-item {
    display: none;
    transition: 0.5s;
}

.storySwiper .story-item.active {
    transition: 0.5s;
    display: block;
}

.timelineSwiper .timeline-item {
    display: none;
    transition: 0.5s;
}

.timelineSwiper .timeline-item.active {
    transition: 0.5s;
    display: block;
}

@media (max-width: 1550px) {
    .content-section {
        padding: 0 !important;
    }
    .section-01-header {
        flex-direction: column !important;
        text-align: center;
    }
    .thp-section-02-logo {
        align-self: center;
    }
    .home-section {
        padding: 64px 10px;
    }
    .home-section .section-01 h1 {
        padding: 0 !important;
        font-size: 3.5rem !important;
    }
    .thp-section-02-logo {
        width: auto;
        height: 200px;
    }
}

@media (max-width: 1262px) {
    .collection-section {
        display: flex !important;
        flex-direction: column !important;
    }
    .collection-section .collection-sec-item {
        align-self: center;
        min-width: 340px;
        max-width: 350px;
    }
    .collection-section .collection-sec-item:not(:last-child) {
        padding-bottom: 30px;
    }
    .collection-main .collection-header,
    .micellenia-section .micellenia-header {
        flex-direction: column !important;
        align-items: center !important;
        text-align: center !important;
        justify-content: center !important;
    }
    .collection-main .full-width-line,
    .micellenia-section .full-width-line {
        width: 50% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .micellenia-items {
        flex-direction: column !important;
        justify-content: center !important;
    }
    .path-life-section {
        padding-inline: 60px !important;
    }
    .path-life {
        padding-inline: 0 !important;
    }
    .home-section.section-03 .link-box {
        border: none;
    }
    .micellenia-content {
        padding-inline: 0 !important;
    }
    .micellenia-section {
        padding-inline: 60px !important;
    }
}

@media (max-width: 992px) {
    .slider-text {
        padding-bottom: 50px;
    }
    .main-slider .slider-box h3 {
        font-size: 2.3em !important;
    }
    .slider-read-more {
        font-size: 21px !important;
    }
    .the-story,
    .companion-vol,
    .historical-ref,
    .digital-foot {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .the-story .line,
    .companion-vol .line,
    .historical-ref .line,
    .digital-foot .line {
        align-self: center;
    }
    .footprint-text {
        justify-content: center !important;
    }
    .trinity-3d .image-grid {
        padding-top: 50px;
        justify-content: center !important;
    }
    .trinity-3d .text-3d,
    .text-3d p {
        text-align: center !important;
    }
}

@media (max-width: 960px) {
    .main-slider .slider-box h3 {
        font-size: 1.5em !important;
    }
    .slider-read-more {
        font-size: 16px !important;
    }
    .main-slider .slider-box p {
        font-size: 1em !important;
    }
    .trinity-story,
    .companion-vol-section,
    .digital-footprint-sec {
        padding-inline: 5rem !important;
    }
    .path-behold {
        padding-inline: 20px !important;
    }
    .chapel-section {
        padding-inline: 50px !important;
    }
    .chapel-text {
        padding-left: 0 !important;
    }
    .trinity-3d {
        padding-inline: 60px !important;
    }
    .vtour-item {
        max-width: 515px;
    }
}

@media (max-width: 600px) {
    .main-slider .slider-box h3 {
        font-size: 1em !important;
    }
    .slider-read-more {
        font-size: 13px !important;
    }
    .main-slider .slider-box p {
        font-size: 0.5em !important;
    }
    .home-section .section-02 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .home-section.section-03.historical-references-section {
        padding: 0;
    }
    .historical-ref {
        padding-inline: 50px;
    }
    .story-content,
    .companion-vol-content {
        flex-direction: column !important;
    }
    .home-section.section-03 .text {
        padding-left: 0 !important;
    }
    .digital-archive-sec {
        padding-inline: 2.2rem !important;
        text-align: center;
    }
    .collection-main {
        padding-inline: 20px !important;
    }
}

@media (max-width: 450px) {
    .trinity-story,
    .companion-vol-section,
    .digital-footprint-sec {
        padding-inline: 2rem !important;
    }
}